.container{
    height: 500px;
    width: 500px;
    background-color: red;
    position: relative;
    z-index: 1;
}
.container .item{
    border: 1px solid yellowgreen;
    display: inline-block;
}

.container .item:nth-child(1){
    height: 100px;
    width: 100px;
    background-color: #fff;
    position: absolute;
    z-index: 4;
}

.container .item:nth-child(2){
    height: 100px;
    width: 120px;
    background-color: gray;
    position: absolute;
    left: 50;
    z-index: 3;
}

.container .item:nth-child(3){
    height: 100px;
    width: 140px;
    background-color: black;
    position: absolute;
    top: 80px;
    z-index: 2;
}
