.container{
    height: 500px;
    width: 300px;
    background-color: red;
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; /*strat, end*/
    /* align-content: center; */
    /* align-items: center; */
}
.container .item{
    border: 1px solid yellowgreen;
}

.container .item:nth-child(1){
    height: 100px;
    width: 100px;
    background-color: #fff;
    z-index: 4;
}

.container .item:nth-child(2){
    height: 100px;
    width: 100px;
    background-color: gray;
    z-index: 3;
}

.container .item:nth-child(3){
    height: 100px;
    width: 100px;
    background-color: black;
    z-index: 2;
}

.container .item:nth-child(4){
    height: 100px;
    width: 100px;
    background-color: green;
    z-index: 2;
}

.container .item:nth-child(5){
    height: 100px;
    width: 100px;
    background-color: violet;
    z-index: 2;
}
